<%= simple_form_for @app do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true , :autofocus => true %>
    <%= f.input :icon%>
    <%= f.input :ver %>
    <%= f.input :fsize %>
    <%= f.input :env %>
    <%= f.input :dtimes %>
    <%= f.input :uptime %>
    <%= f.input :rate %>
    <%= f.input :desc %>

    <%= f.input :tag_list ,:placeholder => "标签" %>

  </div>
  <br/>  
  <div class="form-actions">
    <%= f.button :submit, "提交" , class: "btn btn-default btn-primary" %>
  </div>
<% end %>

<hr/>

<!-- <div class="input string optional"> -->
<!--   <label class="string optional">add detail image(URL)</label> -->
<!--   <br/> -->
<!--   <input class="string optional image-url" maxlength="255"  type="text" /> -->
<!--   <button class="add-url-image btn btn-default">URL添加</button> -->
<!-- </div> -->

