<% provide(:title, @app.name) %>
<h2><%= @app.name %></h2>
<%= image_tag(@app.main_image_url) %>

<hr/>
<p><%= @app.author %></p>
<p><%= @app.link %></p>
<p><%= @app.version %></p>
<p><%= @app.file_size %></p>
<p><%= @app.description %></p>
<p><%= @app.last_updated_content %></p>
<p><%= @app.last_updated_at %></p>
<p><%= @app.store_rate %></p>

<% @app.images.each do |image| %>
    <%= image_tag image.url %>
<% end %>

<p>Tags:</p>
<p class = "ptag"><%= raw  @app.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join('  ') %></p>

<hr/>
<% if @comments.try(:any?) %>
  <ul class="comment-item">
    <%= render @comments %>
  </ul>
<% end %>


<% if can? :create, @comment %>
 <%= simple_form_for [@app, @comment] do |f| %>
    <%= f.input :comment, input_html: { rows: 5 }%>
    <br/>
    <%= f.button :submit, "Add Comment", class: 'btn-primary' %>
  <% end %>
<% end %>


