<% provide(:title, @app.name) %>
<h2><%= @app.name %></h2>
<%= image_tag(@app.icon) %>

<hr/>
<p>版本:<%= @app.ver %></p>
<p>大小:<%= @app.fsize %></p>
<p>环境:<%= @app.env %></p>
<p>作者:<%= link_to @app.tags[-2].name, tag_path(@app.tags[0].name)%></p>
<p>分类:<%= link_to @app.tags[-1].name, tag_path(@app.tags[1].name)%></p>
<p>下载次数:<%= @app.dtimes %></p>
<p>最后更新时间:<%= @app.uptime %></p>
<p>评分:<%= @app.rate %></p>

<%= raw(@app.desc) %>

<% @app.images.each do |image| %>
    <%= image_tag image.file %>
<% end %>

<p>Tags:</p>
<p class = "ptag"><%= raw  @app.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join('  ') %></p>

<hr/>
<% if @comments.try(:any?) %>
  <ul class="comment-item">
    <%= render @comments %>
  </ul>
<% end %>


<% if can? :create, @comment %>
 <%= simple_form_for [@app, @comment] do |f| %>
    <%= f.input :comment, input_html: { rows: 5 }%>
    <br/>
    <%= f.button :submit, "Add Comment", class: 'btn-primary' %>
  <% end %>
<% end %>


