<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render "layouts/header" %>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-info") %>
    <% end %>   

    <div class="row container">
    <% if (request.fullpath.include? "users/sign") || (request.fullpath.include? "users/password") %>
      <div class="col-md-9">
	<%= yield %>
      </div>
      <div class="col-md-3">
	<%= render "devise/shared/links" %>
      </div>
    <% elsif (request.fullpath == root_path) %>
      <div class="col-md-9">
	<%= yield %>
      </div>
      <div class="col-md-3">
	<%= render "layouts/tags_cloud" %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    </div>

    <%= render('layouts/footer') %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>


